#connectButton {
  background-color: tomato;
}

#checkoutButton{
    background-color: rgb(244, 248, 12);
}
#closeWSButton{
    background-color: rgb(0, 103, 238);
}

button{
    min-height: 150px;
    min-width: 200px;
}