*{
    background-color: #fd62cfda;
}

button{
    margin: 0 20px 0 0;
    width: 83px;
}

.left{
 position: absolute;
 left: 0;
}

.right{
    position: absolute;
    right: 0;
}

.box{
    position: relative;
    top: 180px;
}